html{
    height:100%;
    overflow: hidden;
}
.fire{
    position: absolute;
    z-index: 10;
    background:linear-gradient(to bottom, #FFFF00, #FF0033);
    width: 10px;
    height: 25px;
    border-radius: 5px;
}
/*#p{
	font-size:5em;
	position:absolute;
	width:100px;
	height:100px;
	color:#FFFF00;
	z-index:10;
}*/
.explose{
    position: absolute;
    z-index:10;
    width:2px;
    height: 2px;
    background-color: blue;
}
.etoile{
    position: absolute;
    z-index: 9;
}