html{
    height:100%;
    overflow: hidden;
}
.fire{
    position: absolute;
    z-index: 10;
    background-color:red;
    width: 7px;
    height: 7px;
    border-radius: 5px;
}
.explose{
    position: absolute;
    z-index:10;
    width:2px;
    height: 2px;
    background-color: blue;
}
.etoile{
    position: absolute;
    z-index: 9;
}